.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardHolder {
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 10px;
    justify-content: center;
}

.card {
    border: 1px  solid black;
    width: 100px;
    text-align: center;
    flex-wrap: wrap;
}

.card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.gameover {
    display: none;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    text-align: center;
}

.gameover > * {
    color: white;
    margin: 50px;
}

.gameover > button {
    color: black;
    height: 50px;
    width: 150px;
    font-size: 24px;
}